<!-- Next Up

https://foursquare.com/v/gelateria-santa-trinita/4bd30172a8b3a59341d4685f
https://foursquare.com/v/la-prosciutteria/4ff9be87e4b054fbab829fde
https://www.tripadvisor.com/Restaurant_Review-g187895-d7975400-Reviews-Panini_Toscani-Florence_Tuscany.html
https://www.tripadvisor.com/Restaurant_Review-g187895-d6740021-Reviews-Sandwichic-Florence_Tuscany.html
http://www.yelp.com/biz/konnubio-firenze

Bugs 
- apostrophy in the name and insert:
  https://foursquare.com/v/allantico-vinaio/4d1f5a3a16cfb60c38985061




Next Up Features
- Get Login to work with extension
- User Authentication:        https://pythonhosted.org/Flask-User/basic_app.html
- Host it
- Implement Bootstrap on show_notes

- Save Images    http://stackoverflow.com/questions/10423670/chrome-extension-that-copies-image-url-on-click
- Add your own comments to a location
- Higher Level Categories: [Food OR Place OR Hotel]
- Favorite
- Star a Location
- Categorize into high level things
- OnClick highlights a map item (and vice versa)  
  http://stackoverflow.com/questions/2730929/how-to-trigger-the-onclick-event-of-a-marker-on-a-google-maps-v3/2731781#2731781
  https://github.com/hpneo/gmaps/issues/40
- Directions after clicking on a map
- Add My Location (Need HTTPS)
- Include Yelp.com
- Add Location Cost
- Sort by (proximity, hours, neighborhood)

Free Form Suggestions
- Want to take notes from what you liked
- want to share
- want other people to be able to comment
- be able to determine which places you liked

  

https://www.sitepoint.com/building-custom-right-click-context-menu-javascript/


--> 

<html>
  <head>
    <title>Mars Travel Notes</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta id="hostname" data-name="{{session.hostname}}" >

    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script>

/*
     function myFunction(markernum) {

        google.maps.event.trigger(markers[markernum], 'click');


     }
*/
     
      var map;

      // Clickable list http://marcgrabanski.com/jquery-google-maps-tutorial-basics/

      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {});


        var pageUrl =  window.location.href;

        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');
        var hostname  = $('#hostname').data();
        script.src = hostname.name + '/notes?format=js';
              
        document.getElementsByTagName('head')[0].appendChild(script);

      }

      // Loop through the results array and place a marker for each set of coordinates.

      window.gmapfeed = function(results) {

        var infowindow = new google.maps.InfoWindow();

        for (var i = 0; i < results.markers.length; i++) {
          var latLng = new google.maps.LatLng(results.markers[i].latitude,results.markers[i].longitude);
          var marker = new google.maps.Marker({
            position: latLng,
            label: results.markers[i].name,
            map: map
          });

          // Show Title on Click
          google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                var popUpData = "<b>" + results.markers[i].name + "</b><br>" 
                + results.markers[i].rating + " " + results.markers[i].ratingOutOf + ", " + results.markers[i].reviews + " reviews<br>" 
                + "<a target='_blank' href='http://www.google.com/maps/search/" + results.markers[i].name 
                + "/@" + results.markers[i].page_latitude + "," + results.markers[i].page_longitude +"/14z'>view in gmaps</a>";
                infowindow.setContent(popUpData);
                infowindow.open(map, marker);
                //var div = document.createElement("div");
                //div.innerHTML = "LOADING 1234 LOADING 1234 LOADING 1234 LOADING 1234 ";
                //document.body.appendChild(div);
            }
          })(marker, i));

        }

        //Center Map on Collection of Locations
        var bounds = new google.maps.LatLngBounds();
        bounds.extend(marker.position);
        map.fitBounds(bounds);
        var listener = google.maps.event.addListener(map, "idle", function() { 
          if (map.getZoom() > 16) map.setZoom(13); 
          google.maps.event.removeListener(listener); 
        });

        //google.maps.event.trigger(markers[markernum], 'click');

      }

    </script>
  </head>
  <body>
    <div id="header">
      <p>Hello, <b>{{ user.username }}</b> [My Account] [Contact Us]</p>

    </div>


    <div id="map"></div>
    <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoemInMQhCNVqELI9R58ass8f7MnzvjPM&libraries=visualization&callback=initialize">
    </script>

    <!-- 
    Potential Results URL:
    www.google.com/maps/search/Sandwichic/@43.77727,11.256281/14z/
    -->
    <div id="notes">


      <table>
        <tr>
          <td><p>Countries:</p></td>
          <td><p>tbd...
            {% if current_country %}
              <a href='/notes?city=reset'>[ reset ]</a> 
            {% endif %}
            {% for country in countries %}
              [<a href='/notes?city={{ city.city }}'>
              {% if current_city == city.city %}
                <b>{{ country.country }}</b>
              {% else %}
                {{ country.country }}
              {% endif %}
              </a>] 
            {% endfor %}
          </p></td>
        </tr>        <tr>
          <td><p>Cities:</p></td>
          <td><p>
            {% if current_city %}
              <a href='/notes?city=reset'>[ reset ]</a> 
            {% endif %}
            {% for city in cities %}
              [<a href='/notes?city={{ city.city }}'>
              {% if current_city == city.city %}
                <b>{{ city.city }}</b>
              {% else %}
                {{ city.city }}
              {% endif %}
              </a>] 
            {% endfor %}
          </p></td>
        </tr>
        <tr>
          <td><p>Categories:</p></td>
          <td><p>
          {% if current_category %}
            <a href='/notes?category=reset'>[ reset ]</a> 
          {% endif %}
          {% for category in categories %}
            [<a href='/notes?category={{ category.category }}'>
            {% if (current_category == category.category) %}
              <b>{{ category.category }}</b> 
            {% else %}
              {{ category.category }}
            {% endif %}
            </a>] 
          {% endfor %}
          </p></td>
        </tr>
      </table>

      <h2>Nom Notes</h2>

      <ul>
      {% for datum in locations_json %}
        <li>
          <b>{{ datum.name }}: </b>
          {{ datum.rating }} 
          {% if datum.source == 'tripadvisor' %}of 5.0{% elif datum.source == 'foursquare' %}of 10{% endif %}, 
          {{ datum.reviews }} reviews
          <!--[<a target='_blank' href='http://google.com/maps?q={{ datum.page_latitude }},{{ datum.page_longitude }}'>gmaps</a>]-->
          [<a target='_blank' href='{{ datum.page_url }}'>source</a>]
          <a target='_blank' href='http://www.google.com/maps/search/{{ datum.name }}/@{{ datum.latitude }},{{ datum.longitude }}/14z'><img class=logos src=/static/img/gmaps-icon.png></a>

        </li>
        {% for note in datum.notes %}
          <ul>
            <li>{{ note | safe }}</li>
          </ul>
        {% endfor %}
      {% else %}
        <p>No notes!</p>
      {% endfor %}
      </ul>
    </div>

    <h2>Nom Sites</h2>


    <ul>
      {% for item in saved_urls %}
      <li><a target='_blank' href={{ item.url }}>{{ item.title }}</a></li>
      {% else %}
      <li>No saved urls</li>
      {% endfor %}
    </ul>


    <p align=center>MarsRover | Powered by <a target='_blank' href=http://foursquare.com><img class=logos src=/static/img/foursquare-icon.png></a> 
       and <a target='_blank' href=http://tripadvisor.com><img class=logos src=/static/img/tripadvisor-icon.png></a></p>


  </body>
</html>




