nomnotes/__init__.py
nomnotes/__init__.py--
nomnotes/__init__.pyc
nomnotes/app.py
nomnotes/database.py--
nomnotes/gnlp/
nomnotes/models.py--
nomnotes/models.pyc
nomnotes/models_BASE_26281.py
nomnotes/models_LOCAL_26281.py
nomnotes/models_REMOTE_26281.py
nomnotes/queries/schema.sql
nomnotes/settings.cfg
nomnotes/static/img/nomnotes-logo.xcf
nomnotes/views.py--
nomnotes/views.pyc
venv/
nomnotes/models_BACKUP_26281.py
