bcrypt
fuzzywuzzy
python-Levenshtein
flask
flask-RESTful
flask-sqlalchemy
flask-user
flask-mail
gunicorn
psycopg2==2.6.1
Flask-Migrate==1.8.0
requests
pandas

# flask-MySQL
# mysql
# mysql-python
# mysql-connector-python-rf
# mysql-connector-python 			rejected by heroku, not sure if required when i have mysql installed
