/*@font-face {
    font-family: "chalkdust";
    src: url("/static/fonts/ChalkDust.ttf");
}*/

/*
p.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
}*/


.fa-userratingdisplay {
	font-size: 18px;

}


body, html, .gmapsecondiv {
  height: 100%;
  width: 100%;
}

.panel_toolbox {
    min-width: 0px;
}

#filters {
	/* background-color: #ccd0e2; */
}

#header {
	/*	float: right;*/
	/*	width: 550; */
}

body {
	background: #eee; 
	/*font-family: 'Helvetica Neue",Helvetica,Arial,sans-serif';*/
	font-size: 13px;
	color: black;
}

/*
h2 { 
	font-family: sans-serif; 
	font-size: 1.1em;

}
*/

ul, li, p, table, td { 
	/*font-family: sans-serif; 
	font-size: 1.0em;*/
}

td { 
    padding: 1px;
    padding-bottom: 2px;
}

tr {
  padding-bottom: 2px;
}

#remote {
	vertical-align: bottom;
}

.typeahead {
	vertical-align: top;
}



/*

h1, h2          { font-family: 'Georgia', sans-serif; margin: 0; color: #190b77}

h2              { font-size: 1.2em; }


li      		{ font-size: 1.0em; serif; }
td      		{ font-size: 0.8em; serif; }

de {}
  padding-left:20px;
}
*/


h2 + ul {
    margin-top: -3px;
}



@media (min-width: 1200px) {
  .container-fluid {
    width: 1800px;
  }
}







/*
#notes {
	float: right ;
	width: 55% ;
}
*/


button:focus {}


#googmapparent {
 	width: 300px;
	height: 500px;
}

#googmap {
 	/*width: 300;
	height: 300;*/

	/*margin: 0;
    padding: 0;*/
    
    position: absolute; 

    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;

    
}

/*
#venuemap {
	position:fixed; 
	width: 100;
	height: 100;
}



/*
#map_canvas_container {
	position: relative;
}
*/





.newnotetext, .newpagenotetext, .editnotetext, .editpagenotetext {
	width: 500px; 
	height: 150px;
	outline: none !important;
    border: 1px #b6b7ac; 
    box-shadow: 0 0 2px #b6b7ac;
}

.logos {
	width: 16px;
	height: 16px;
}

.venue-click, .page-click {
	font-weight: bold;
	border: none;
	background-color: Transparent;
	padding: 2px 2px;
	outline:0;
}


/*
.deletesymbolimage {
	vertical-align: top;
	font-weight: bold;
}
*/

span.image {
  position:relative;
  vertical-align: text-top;
}

img.venueimage, img.pageimage {
  max-width: 140px;
  max-height: 140px;
  border-radius: 4px; 
  vertical-align: top;
}

span.image a.deletesymbolimage, span.image a.deletesymbolimage {
  /*left:98%;*/
  top:-50%;
  /*font-weight: bold;*/
  position:absolute;	
  vertical-align: top;	
}

.venuelistsul, .pagelistsul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.venuelistsul, .venueliststar, .venuelistunstar, .pagelistsul, .pageliststar, .pagelistunstar {
  margin: 0px 0 0px 0; 
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 30%;
}

.venuelistsul, .venuelistanchor, .pagelistsul, .pagelistanchor {
  padding-left: 20px; /* width of icon + whitespace */
}

.venuelistunstar:before, .pagelistunstar {
	/*background-image: url('/static/img/star-unchecked.png');*/
	font-family: 'FontAwesome';
	content: '\f10c';  
	margin:0 5px 0 -15px;
	color: black;
}

.venueliststar:before, .pageliststar:before {/*
	/*background-image: url('/static/img/star-checked.png');*/
	font-family: 'FontAwesome';
	content: '\f118';
	margin:0 5px 0 -15px;
	color: black;
}

.deletesymbol, .addsymbol {
	/*font-weight: bold;*/
	border: none;
	background-color: Transparent;
	padding: 4px 4px;
}

a:link    { color: #5f3cee; }       /* unvisited link */
a:visited { color: #5f3cee;}    /* visited link */
a:active  { color: #5f3cee;}     /* selected link */
a:hover   { color: black;}        /* mouse over link */